// Variable overrides first
$primary: #21252B;
$secondary: #e0cc74;
$light-text-emphasis: #e0cc74;
$light: #f0efe6;
$dark: #282C34;
$enable-shadows: true;
$prefix: "mo-";
$font-size-root: 20px;
// Then import Bootstrap
@import "../bootstrap-5.3.2-dist/scss/bootstrap.scss";

// custom code

        i {
            font-size: 80px;
        }
