// Variable overrides first
$primary: #f38b66;
$secondary: #e09174;
$light: #f0efe6;
$enable-shadows: true;
$prefix: "mo-";
$font-size-root: 20px;
// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// custom code

    :root {
        --light: #f0efe6;
    
        main {
            background-color: #f0efe6;
            font-family: "roboto";
            h1,h3 {
                text-align: center; 
            }
            h2, h3, h4, h5, h6 {
                text-align: center; 
                
            }
        }
}

.cartas {
    width: 10rem;
}
section {
background-image: url("../photos/cute2.png");
background-attachment: fixed;
background-size: 800px;
}