<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" CONTENT="Gabriel Vich">
    <meta name="description" content="Nuestra carta">
    <meta name="category" content="Bar">
    <link rel="icon" type="image/jpg" href="../photos/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- ESTILO-->
    <link rel="stylesheet" href="../style/main.css">
    <script src="../bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <!--Script JS para la animacion-->
    <script src="../JS/animacion.js"></script>
    <title>Contacta con nosotros</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid px-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand"><img src="../photos/logo2prov.png" alt="" height="26"></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../views/galeria.html">Galería</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="bg-light p-3 mb-3">
                    <h1>Prueba nuestra deliciosa carta</h1>
                    <p>En nuestro menú encontrarás una amplia variedad de ohnigiris irresistibles que deleitarán tu
                        paladar
                        con cada bocado. Nuestros ohnigiris están cuidadosamente preparados con los ingredientes más
                        frescos y sabrosos,
                        garantizando una experiencia culinaria única y satisfactoria. Desde el clásico ohnigiri de atún
                        hasta el
                        exquisito ohnigiri de gambas, cada uno de nuestros platillos está lleno de sabor y calidad. No
                        te pierdas
                        la oportunidad de probar nuestras creaciones culinarias y descubre por qué nuestros ohnigiris
                        son tan aclamados.
                        ¡Ven y disfruta de una experiencia gastronómica inolvidable en nuestro restaurante!</p>
                </div>

                <div class="row row-cols-1 row-cols-md-4 text-center justify-content-center m-0">

                    <div class="cajas  bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Oh, El Clasico</h3>
                            <p>
                                Sumérgete en la tradición japonesa con nuestro Ohnigiri clásico. 
                                Una armonía perfecta de arroz y nori que evoca la esencia de la cocina nipona 
                                con cada bocado, transportándote a un viaje culinario inolvidable.
                            </p>
                        </div>
                        <img src="../photos/Cards/classic.jpg" alt="Oh, El Clasico" class="w-100" style="height: 235px">
                    </div>
                    <div class="cajas col bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Beef Ohnigiri</h3>
                            <p>
                                Descubre la exquisitez de nuestro Ohnigiri de ternera. 
                                Jugosa carne envuelta en nori crujiente, una explosión de sabores que deleitará tus 
                                sentidos y te dejará con un inolvidable sabor en boca.
                            </p>
                        </div>
                        <img src="../photos/Cards/BeefOhnigiri.webp" alt="Beef Ohnigiri" class="w-100" style="height: 235px">
                    </div>
                    <div class="cajas col bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Shrimp Ohnigiri</h3>
                            <p>
                                Deleita tu paladar con nuestro Ohnigiri de camarones. 
                                Frescura marina y arroz suave se combinan en una experiencia 
                                gastronómica sublime que te transportará a las costas del Japón.
                            </p>
                        </div>
                        <img src="../photos/Cards/ohnigiri1.webp" alt="Shrimp Ohnigiri" class="w-100" style="height: 235px">
                    </div>
                    <div class="cajas col bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Miso Ohnigiri</h3>
                            <p>
                                Sumérgete en el mundo de la dulzura y la suavidad con nuestro Ohnigiri 
                                de misoyaki. La sedosa salsa de miso envuelve cada grano de arroz, ofreciendo 
                                una experiencia culinaria incomparable.
                            </p>
                        </div>
                        <img src="../photos/Cards/ohnigiri2.webp" alt="Miso Ohnigiri" class="w-100" style="height: 235px">
                    </div>
                    <div class="cajas col bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Tuna Ohnigiri</h3>
                            <p>
                                Satisface tu ansia por lo marino con nuestro Ohnigiri de atún. Frescura 
                                y calidad se combinan en una fusión de sabores que te harán viajar a las 
                                profundidades del océano con cada bocado.
                            </p>
                        </div>
                        <img src="../photos/Cards/ohnigiri3.webp" alt="Tuna Ohnigiri" class="w-100" style="height: 235px">
                    </div>
                    <div class="cajas col bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Menú Ohnigiri</h3>
                            <p>
                                Explora un universo de sabores con nuestro plato de degustación de 
                                Ohnigiri. Una selección cuidadosa de nuestras mejores creaciones te 
                                invita a un viaje culinario lleno de sorpresas.
                            </p>
                        </div>
                        <img src="../photos/carrousel1.webp" alt="Tuna Ohnigiri" class="w-100" style="height: 235px">
                    </div>
                    <div class="cajas col bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Neko Ohnigiri</h3>
                            <p>
                                Diviértete con nuestro Ohnigiri de gato, una encantadora creación 
                                que combina ingredientes frescos con un toque de diversión. Una experiencia 
                                culinaria única que alegrará tanto a jóvenes como a adultos.
                            </p>
                        </div>
                        <img src="../photos/carrousel3.webp" alt="Neko Ohnigiri" class="w-100" style="height: 235px">
                    </div>
                    <div class="cajas col bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Spooky Ohnigiri</h3>
                            <p>
                                Celebra la temporada de Halloween con nuestro Ohnigiri 
                                espeluznante. Una combinación de sabores deliciosos con una presentación 
                                aterradora que te hará disfrutar de la festividad con un toque gastronómico.
                        </div>
                        <img src="../photos/carrousel4.webp" alt="Spooky Ohnigiri" class="w-100" style="height: 235px">
                    </div>
                    <div class="cajas col bg-light border mb-3 me-2">
                        <div class="px-2 overflow-hidden" style="height: 55px">
                            <h3>Spooky Deluxe</h3>
                            <p>
                                Experimenta este tenebroso menú completo incluye una selección premium de Ohnigiri, una fresca ensalada 
                                y un refrescante bubble tea, garantizando una experiencia culinaria única y satisfactoria.
                            </p>
                        </div>
                        <img src="../photos/carrousel5.webp" alt="Spooky Deluxe" class="w-100" style="height: 235px">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bg-light">
        <ul class="nav justify-content-center ">
            <li class="nav-item ">
                <a class="nav-link text-black" href="#" title="Aviso legal">©Ohnigiri! aviso legal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="../views/galeria.html">Galería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="../views/contacto.html">Contacto</a>
            </li>
            <li class="nav-item pt-1 px-1">
                <a class="navbar-brand" href="https://www.facebook.com/" title="Nuestro Facebook"><img
                        src="photos/fb.png" alt="" height="26"></a>
            </li>
            <li class="nav-item pt-1 px-1">
                <a class="navbar-brand" href="https://www.instagram.com/slytrox/" title="Nuestro Instagram"><img
                        src="photos/ig.png" alt="" height="26"></a>
            </li>
            <li class="nav-item pt-1 px-1">
                <a class="navbar-brand" href="https://twitter.com/" title="Nuestro Twitter"><img src="photos/x.png"
                        alt="" height="26"></a>
            </li>
        </ul>
    </footer>
</body>

</html>