// Variable overrides first
$primary: #21252B;
$secondary: #e0cc74;
$light-text-emphasis: #e0cc74;
$light: #f0efe6;
$dark: #282C34;
$enable-shadows: true;
$prefix: "mo-";

@import "../../node_modules/bootstrap/scss/bootstrap";



// custom code

        a{
            color: var(--light);
        }
        body{
            --dark: #282C34;
            --light: #f0efe6;
            background-color: var(--dark);
            color: var(--light);
            height: 100%;
        }
        main{
            min-height: 90vh;
        }

        i {
            font-size: 80px;
        }

        #portrait {
            width: 40%;
            max-width: 600px;
            aspect-ratio: 1 / 1
        }

        .image-container {
            position: relative; 
            cursor: pointer;
            width: 300px;
            height: 450px;
        }

        .image-container img {
            object-position: top;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2rem;
            opacity: 1;
            transition: background-color 0.3s;
        }

        .max-width-900 {
            max-width: 900px;
        }

        .image-container:hover .overlay {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .btn {
            width: fit-content;
                box-shadow: none;
                --mo-btn-box-shadow: none;
        }
        
        @media (min-width: 768px) {
    
        section {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 0 auto;
        }
        
    }

