// Variable overrides first
$primary: #21252B;
$secondary: #e0cc74;
$light-text-emphasis: #e0cc74;
$light: #f0efe6;
$dark: #282C34;
$enable-shadows: true;
$prefix: "mo-";

@import "../../node_modules/bootstrap/scss/bootstrap";



// custom code

        i {
            font-size: 80px;
        }

        img {
            width: 40%;
            max-width: 600px;
            aspect-ratio: 1 / 1
        }
