// Variable overrides first
$primary: #21252B;
$secondary: #e0cc74;
$light-text-emphasis: #e0cc74;
$light: #f0efe6;
$dark: #282C34;
$enable-shadows: true;
$prefix: "mo-";
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.5;

@import "../../node_modules/bootstrap/scss/bootstrap";

// custom code

a {
    color: var(--light);
}

body {
    --dark: #282C34;
    --light: #f0efe6;
    --primary: #21252B;
    background-color: var(--dark);
    color: var(--light);
    height: 100%;
}

main {
    min-height: 90vh;
}

i {
    font-size: 80px;
}

#portrait {
    width: 40%;
    max-width: 600px;
    aspect-ratio: 1 / 1
}

.image-container {
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 450px;
}

.image-container img {
    object-position: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    opacity: 1;
    transition: background-color 0.3s;
}

.max-width-900 {
    max-width: 900px;
}

.image-container:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    width: fit-content;
    box-shadow: none;
    --mo-btn-box-shadow: none;
}

#main-image {
    width: 100%;
    max-width: 950px;
    height: 100%;
    max-height: 1200px;
    object-fit: cover;
    object-position: top;
    border: var(--primary) 10px solid;
}

.thumbnail {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    object-fit: cover;
    object-position: top;
}

.thumbnail:hover {
    border: white 6px solid;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1.1);
    cursor:pointer;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.project-title {
    width: 300px;
}

@media (max-width: 768px) {

    .image-container {
        margin: auto;
        width: 90%;
        height: 600px;
    }

    .project-title {
        width: 100%;
    }

    #portrait {
        width: 35vw;
        height: 35vw;
        margin-top: 20px;
    }
}

@media (max-width: 460px) {

    .thumbnail {
        width: 45%;
        height: auto;
        max-height: 90px;
    }

    #portrait {
        width: 35vw;
        height: 35vw;
        max-width: 162px;
        max-height: 162px;
        margin-top: 20px;
    }

    .tags {
        margin-right: -35vw;
    }

    .tag {
        display: flex;
        flex-grow: 1;
    }

    .btn-link {
        margin-right: -35vw;
    }

    .btn {
        width: 100%;
    }
}